# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyd
*.so

# Virtual environments
.venv/
env/
venv/
ENV/
.Python

# Jupyter
.ipynb_checkpoints

# macOS
.DS_Store

# VSCode
.vscode/

# dotenv / secrets
.env

# SQLite
*.db

# Logs
*.log

# Other
*.sqlite3
